@page "/flightbookings/details"
@using Microsoft.EntityFrameworkCore
@using GotorzProjectMain.Models
@inject IDbContextFactory<GotorzProjectMain.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>FlightBooking</h2>
    <hr />
    @if (flightbooking is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Airline</dt>
            <dd class="col-sm-10">@flightbooking.Airline</dd>
            <dt class="col-sm-2">SeatNumber</dt>
            <dd class="col-sm-10">@flightbooking.SeatNumber</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@flightbooking.Price</dd>
            <dt class="col-sm-2">BookingInformationLink</dt>
            <dd class="col-sm-10">@flightbooking.BookingInformationLink</dd>
            <dt class="col-sm-2">DepartureTime</dt>
            <dd class="col-sm-10">@flightbooking.DepartureTime</dd>
            <dt class="col-sm-2">ArrivalTime</dt>
            <dd class="col-sm-10">@flightbooking.ArrivalTime</dd>
            <dt class="col-sm-2">Misc</dt>
            <dd class="col-sm-10">@flightbooking.Misc</dd>
            <dt class="col-sm-2">DepartureAirport</dt>
            <dd class="col-sm-10">@flightbooking.DepartureAirport</dd>
            <dt class="col-sm-2">ArrivalAirport</dt>
            <dd class="col-sm-10">@flightbooking.ArrivalAirport</dd>
            <dt class="col-sm-2">VacationOfferId</dt>
            <dd class="col-sm-10">@flightbooking.VacationOfferId</dd>
        </dl>
        <div>
            <a href="@($"/flightbookings/edit?flightbookingid={flightbooking.FlightBookingId}")">Edit</a> |
            <a href="@($"/flightbookings")">Back to List</a>
        </div>
    }
</div>

@code {
    private FlightBooking? flightbooking;

    [SupplyParameterFromQuery]
    private int FlightBookingId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        flightbooking = await context.FlightBookings.FirstOrDefaultAsync(m => m.FlightBookingId == FlightBookingId);

        if (flightbooking is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
