@page "/hotelsearch"
@rendermode InteractiveServer

@using GotorzProjectMain.Models
@using GotorzProjectMain.Services.APIs.HotelAPIs

@inject IAmadeusHotelAPIService Service
@inject ICityLookupService CityLookupService

<PageTitle>Search Hotels</PageTitle>

<div class="row">
	<div class="col-md-4">
		@* fjernet valid *@
		<EditForm Model="Input" OnSubmit="SubmitSearch" FormName="searchHotels">
			<DataAnnotationsValidator />
			<h2>Search for hotels</h2>

			<div class="form-check mb-3">
				<InputCheckbox id="isAirport" @bind-Value="_airport" class="form-check-input" />
				<label for="isAirport" class="form-check-label">Airport code</label>
			</div>

			<div class="mb-3 form-floating position-relative">
				<InputText id="destination" placeholder="City" autocomplete="off" class="form-control" @bind-Value="_destination" oninput="@(async (ChangeEventArgs e) => await OnDestinationInput(e))" @onkeydown="HandleDestinationKeyPress" />
				<label for="destination">Destination:</label>
				@* 				<ValidationMessage For="() => Input." class="alert alert-danger mt-3" /> *@

				@if (DestinationSuggestions.Any() && _destination != "")
				{
					<ul class="list-group position-absolute mt-1 w-100" style="z-index:1000;">
						@foreach (string suggestion in DestinationSuggestions)
						{
							<li class="list-group-item list-group-item-action" @onclick="() => SelectDestination(suggestion)">
								@suggestion
							</li>
						}
					</ul>
				}

				@if (!string.IsNullOrWhiteSpace(_selectedDestination))
				{
					<div class="alert alert-success mt-3" role="alert">
						@_selectedDestination
					</div>
				}

				@if (!string.IsNullOrWhiteSpace(_matchAlertMessage))
				{
					<div class="alert alert-danger mt-3" role="alert">
						@_matchAlertMessage
					</div>
				}
			</div>

			<div class="form-floating mb-3">
				<InputNumber id="radius" @bind-Value="Input.Radius" class="form-control" placeholder="Radius" />
				<label for="radius">Search Radius</label>
@* 				<ValidationMessage For="() => Input.Radius" class="alert alert-danger mt-3" /> *@
			</div>

			<div class=" mb-3">
				<select id="radius-unit" @bind="Input.RadiusUnit" class="form-select">
					<option value="KM">KM</option>
					<option value="MILE">MILE</option>
				</select>
			</div>

			@* Har ikke tilføjet Chaincodes endnu - Hvis man vil søge på hotelkæder, skal det tilføjes *@

			<div class="form-floating mb-3 position-relative">
				<InputText id="amenities" @bind-Value="_amenityInput" oninput="@(async (ChangeEventArgs e) => await OnAmenitiesInput(e))" @onkeydown="HandleAmenityKeyPress" class="form-control" autocomplete="off" placeholder="Amenities" />
				<label for="amenities">Add Amenities</label>
@* 				<ValidationMessage For="() => Input.Amenities" class="alert alert-danger mt-3" /> *@

				@if (!string.IsNullOrWhiteSpace(_amenitiesMessage))
				{
					<div class="alert alert-danger mt-3" role="alert">
						@_amenitiesMessage
					</div>
				}

				@if (AmenitiesSuggestions.Any() && _amenityInput != "")
				{
					<ul class="list-group position-absolute mt-1 w-100" style="z-index:1000;">
						@foreach (string suggestion in AmenitiesSuggestions)
						{
							<li class="list-group-item list-group-item-action" @onclick="() => SelectAmenity(suggestion)">
								@suggestion
							</li>
						}
					</ul>
				}

			</div>
			@if (Input.Amenities.Any())
			{
				<div>
					<ul class="alert alert-success mt-3">
						@foreach (var amenity in Input.Amenities)
						{
							<li>@amenity</li>
						}
					</ul>
				</div>
			}


			<div class="mb-3">
				<label class="form-label">Hotel Stars</label>
				<div class="d-flex gap-3">
					@for (int star = 1; star <= 5; star++)
					{
						string starValue = star.ToString();

						<div class="form-check">
							<input class="form-check-input"
							type="checkbox"
							value="@starValue"
							@onchange="e => ToggleRating(starValue, e.Value)" />
							<label class="form-check-label">@star</label>
						</div>
					}
				</div>
			</div>

			@* Man kan bestemme hvilken kilde man vil søge i - har ikke taget det med endnu.
			   Ved ikke helt hvad det er for noget, men hvis man vil det, skal det tilføjes *@

			<button type="submit" class="w-100 btn btn-lg btn-primary">Search</button>
		</EditForm>
	</div>
</div>

@if (_hotelsList.Any())
{
	<div class="mt-3"></div>
	<div>
		<h2>Hotels</h2>
		<hr />
		<dl class="row">
			@foreach (Hotel hotel in _hotelsList)
			{
				<dt class="col-sm-2">Name</dt>
				<dd class="col-sm-10">@hotel.Name</dd>
				@if (hotel.Rating is not null)
				{
					<dt class="col-sm-2">Rating</dt>
					<dd class="col-sm-10">@hotel.Rating</dd>
				}
				@if (hotel.Distance is not null)
				{
					<dt class="col-sm-2">Distance</dt>
					<dd class="col-sm-10">@hotel.Distance.Value @hotel.Distance.Unit</dd>
				}
				@if (hotel.Amenities?.Any() == true)
				{
					<dt class="col-sm-2">Amenities</dt>
					<dd class="col-sm-10">
						<ul>
							@foreach (string a in hotel.Amenities)
							{
								<li>@a</li>
							}
						</ul>
					</dd>
				}
				<dt class="col-sm-2">Last Updated</dt>
				<dd class="col-sm-10">@hotel.LastUpdated</dd>
			}
		</dl>
	</div>
}


@code {
	private IEnumerable<Hotel> _hotelsList = Enumerable.Empty<Hotel>();
	private string? _destination;
	private List<string> DestinationSuggestions { get; set; } = new();
	private bool _airport = false;
	private string? _matchAlertMessage;
	private string? _selectedDestination;

	private List<string> AmenitiesSuggestions { get; set; } = new();
	private string? _amenitiesMessage;
	private AmadeusHotelListParameters Input { get; set; } = new();
	private string? _amenityInput;

	// BAR or LOUNGE virker vist ikke................
	private List<string> AllAmenities = new()
	{ "SWIMMING_POOL","SPA","FITNESS_CENTER","AIR_CONDITIONING","RESTAURANT","PARKING","PETS_ALLOWED",
	  "AIRPORT_SHUTTLE","BUSINESS_CENTER","DISABLED_FACILITIES","WIFI","MEETING_ROOMS","NO_KID_ALLOWED",
	  "TENNIS","GOLF","KITCHEN","ANIMAL_WATCHING","BABY-SITTING","BEACH","CASINO","JACUZZI","SAUNA","SOLARIUM",
	  "MASSAGE","VALET_PARKING","BAR or LOUNGE","KIDS_WELCOME","NO_PORN_FILMS","MINIBAR","TELEVISION",
	  "WI-FI_IN_ROOM","ROOM_SERVICE","GUARDED_PARKG","SERV_SPEC_MENU"
	};
	private CancellationTokenSource? _debounceCts;

	private async Task OnDestinationInput(ChangeEventArgs e)
	{
		_debounceCts?.Cancel();
		_debounceCts?.Dispose();
		_debounceCts = new CancellationTokenSource();
		_matchAlertMessage = "";
		_selectedDestination = "";

		if (e.Value is null)
		{
			return;
		}

		await Task.Delay(300, _debounceCts.Token);
		DestinationSuggestions = CityLookupService.Search(e.Value.ToString()).ToList();
	}

	private async Task OnAmenitiesInput(ChangeEventArgs e)
	{
		_debounceCts?.Cancel();
		_debounceCts?.Dispose();
		_debounceCts = new CancellationTokenSource();
		_amenitiesMessage = "";

		if (e.Value is null)
		{
			return;
		}

		await Task.Delay(300, _debounceCts.Token);
		AmenitiesSuggestions = AllAmenities.Where(a => a.StartsWith(e.Value.ToString().Trim(), StringComparison.OrdinalIgnoreCase))
							.Take(10).ToList();
	}

	private void HandleDestinationKeyPress(KeyboardEventArgs e)
	{
		if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(_destination))
		{
			string trimmed = _destination.Trim();
			string? match = null;

			if (DestinationSuggestions.Any())
			{
				match = DestinationSuggestions.FirstOrDefault(d => d.Contains(trimmed, StringComparison.OrdinalIgnoreCase));
			}

			if (match != null)
			{
				(string CityCode, string AirportCode)? codes = CityLookupService.GetCodes(match);

				if (!_airport)
				{
					Input.CityOrAirportCode = codes.Value.CityCode;
				}
				else
				{
					Input.CityOrAirportCode = codes.Value.AirportCode;
				}

				_selectedDestination = $"{match}, Code: {Input.CityOrAirportCode}";

				_destination = match;
			}
			else
			{
				_matchAlertMessage = "No such match";
			}
			DestinationSuggestions.Clear();
		}
	}

	private void SelectDestination(string suggestion)
	{
		_destination = suggestion;
		(string CityCode, string AirportCode)? codes = CityLookupService.GetCodes(suggestion);

		if (!_airport)
		{
			Input.CityOrAirportCode = codes.Value.CityCode;
		}
		else
		{
			Input.CityOrAirportCode = codes.Value.AirportCode;
		}

		_selectedDestination = $"{suggestion}, Code: {Input.CityOrAirportCode}";
		DestinationSuggestions.Clear();
	}

	private async Task SubmitSearch()
	{
		_hotelsList = await Service.SearchHotelsAsync(Input);
	}

	private void SelectAmenity(string suggestion)
	{
		_amenityInput = suggestion;
		if (Input.Amenities.Contains(_amenityInput))
		{
			Input.Amenities.Remove(_amenityInput);
		}
		else
		{
			Input.Amenities.Add(_amenityInput);
		}

		AmenitiesSuggestions.Clear();
	}

	private void HandleAmenityKeyPress(KeyboardEventArgs e)
	{
		if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(_amenityInput))
		{
			string trimmed = _amenityInput.Trim();
			string? match = null;

			if (AmenitiesSuggestions.Any())
			{
				match = AmenitiesSuggestions.FirstOrDefault(a => a.Contains(trimmed, StringComparison.OrdinalIgnoreCase));
			}

			if (match != null)
			{
				if (Input.Amenities.Contains(match))
				{
					Input.Amenities.Remove(match);
				}
				else
				{
					Input.Amenities.Add(match);
				}

				_amenityInput = match;
			}
			else
			{
				_amenitiesMessage = "No such amenity";
			}
			AmenitiesSuggestions.Clear();
		}
	}

	private void ToggleRating(string starValue, object? isChecked)
	{

		if ((bool)isChecked!)
		{
			Input.Ratings.Add(starValue);
		}
		else
		{
			Input.Ratings.Remove(starValue);
		}
	}
}
