@page "/vacationoffers/details"
@using Microsoft.EntityFrameworkCore
@using GotorzProjectMain.Models
@using GotorzProjectMain.Data

@inject ApplicationDbContext Context
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>VacationOffer</h2>
    <hr />
    @if (vacationoffer is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">VacationRequestId</dt>
            <dd class="col-sm-10">@vacationoffer.VacationRequestId</dd>
            <dt class="col-sm-2">EmployeeEmail</dt>
            <dd class="col-sm-10">@vacationoffer.EmployeeEmail</dd>
            <dt class="col-sm-2">TotalPrice</dt>
            <dd class="col-sm-10">@vacationoffer.TotalPrice</dd>
            <dt class="col-sm-2">DepartureCountry</dt>
            <dd class="col-sm-10">@vacationoffer.DepartureCountry</dd>
            <dt class="col-sm-2">DepartureCity</dt>
            <dd class="col-sm-10">@vacationoffer.DepartureCity</dd>
            <dt class="col-sm-2">ArrivalCountry</dt>
            <dd class="col-sm-10">@vacationoffer.ArrivalCountry</dd>
            <dt class="col-sm-2">ArrivalCity</dt>
            <dd class="col-sm-10">@vacationoffer.ArrivalCity</dd>
            <dt class="col-sm-2">StartDate</dt>
            <dd class="col-sm-10">@vacationoffer.StartDate</dd>
            <dt class="col-sm-2">EndDate</dt>
            <dd class="col-sm-10">@vacationoffer.EndDate</dd>
            <dt class="col-sm-2">Misc</dt>
            <dd class="col-sm-10">@vacationoffer.Misc</dd>
            <dt class="col-sm-2">OfferStatus</dt>
            <dd class="col-sm-10">@vacationoffer.OfferStatus</dd>
            <dt class="col-sm-2">ExpirationDate</dt>
            <dd class="col-sm-10">@vacationoffer.ExpirationDate</dd>
        </dl>
        <div>
            <a href="@($"/vacationoffers/edit?vacationofferid={vacationoffer.VacationOfferId}")">Edit</a> |
            <a href="@($"/vacationoffers")">Back to List</a>
        </div>
    }
</div>

@code {
    private VacationOffer? vacationoffer;

    [SupplyParameterFromQuery]
    private int VacationOfferId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
        vacationoffer = await Context.VacationOffers.FirstOrDefaultAsync(m => m.VacationOfferId == VacationOfferId);

        if (vacationoffer is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
