@page "/vacationrequests/delete"
@using GotorzProjectMain.Services
@using Microsoft.EntityFrameworkCore
@using GotorzProjectMain.Models
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@inject IDbContextFactory<GotorzProjectMain.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject VacationRequestSignalRService SignalRService
@inject IExtendedUserService UserService


<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Vacation Request</h2>
    <hr />
    @if (vacationrequest is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Country</dt>
            <dd class="col-sm-10">@vacationrequest.Country</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Start Date</dt>
            <dd class="col-sm-10">@vacationrequest.StartDate.ToShortDateString()</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">End Date</dt>
            <dd class="col-sm-10">@vacationrequest.EndDate.ToShortDateString()</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Children Amount</dt>
            <dd class="col-sm-10">@vacationrequest.ChildrenAmount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Adults Amount</dt>
            <dd class="col-sm-10">@vacationrequest.AdultsAmount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Rooms Amount</dt>
            <dd class="col-sm-10">@vacationrequest.RoomsAmount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Hotel Request</dt>
            <dd class="col-sm-10">@vacationrequest.HotelRequest</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Flight Request</dt>
            <dd class="col-sm-10">@vacationrequest.FlightRequest</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Misc</dt>
            <dd class="col-sm-10">@vacationrequest.Misc</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@vacationrequest.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Full Name</dt>
            <dd class="col-sm-10">@customer.User.FirstName @customer.User.LastName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Mail</dt>
            <dd class="col-sm-10">@customer.User.Email</dd>
        </dl>
        <dl class="row" style="display:none;">
                   <dt class="col-sm-2">UserId</dt>
                   <dd class="col-sm-10">@vacationrequest.UserId</dd>
               </dl>
        <EditForm method="post" Model="vacationrequest" OnValidSubmit="DeleteVacationRequest" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(vacationrequest is null)">Delete</button> |
            <a href="/vacationrequests">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private VacationRequest? vacationrequest;
    private Customer? customer { get; set; }

    [SupplyParameterFromQuery]
    private int VacationRequestId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        vacationrequest = await context.VacationRequests.FirstOrDefaultAsync(m => m.VacationRequestId == VacationRequestId);

        if (vacationrequest is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

		customer = await UserService.GetCustomerByIdAsync(vacationrequest.UserId);

    }

    private async Task DeleteVacationRequest()
    {
        using var context = DbFactory.CreateDbContext();
        context.VacationRequests.Remove(vacationrequest!);
        await context.SaveChangesAsync();

        await SignalRService.InitializeAsync();
        await Task.Delay(1000);
        await SignalRService.SendVacationRequestAsync();

        NavigationManager.NavigateTo("/vacationrequests");
    }
}
